body {
    font-family: Arial;
    height: 100%;
    margin: 0;
}
html{
    height: 100%;
    margin: 0;
}
#id, #pw, #position, #Title, #sencondTitle {
    text-align: center;
}

#loginButton {
    background: transparent;
    border: 1px solid #848484;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    border-radius: 60px;
    text-align: center;
    transition: all 0.5s;
    color: #FFFFFF;
    font-size: 20px;
    padding: 10px;
    width: 150px;
    cursor: pointer;
    margin: 10px;
    color: black;
}

#loginButton span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 11s;
}

#loginButton:hover {
    color: red;
}

#background {
    background-image: url("restaurantbg.jpg");

    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-repeat: no-repeat;
    background-size: cover;
}

#Title {
    text-transform: uppercase;
}

.checkboxIDPW {
    border: 1px solid #848484;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    outline: 0;
    height: 30px;
    width: 200px;
    padding-left: 10px;
    padding-right: 10px;
}

#selection {
    border: 1px solid #848484;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    outline: 0;
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    align-content: center;
}

#selection option {
    border: 1px solid #848484;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    border-radius: 60px;
}

.tab {
    text-align: center;
    overflow: hidden;
    border: 0 solid;
}

.tab button {
    float: bottom;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    text-align: center;
    overflow: hidden;
    background-color: transparent;
}

.tab button:hover {
    color: red;
    font-size: 30px;
}

#loginTable {
    alignment: center;
    text-align: center;
}

#loginButton table {
    text-align: center;
}

.tabcontent {
    text-align: center;
}

#logOut,#Edit {
    background: transparent;
    border: 1px solid #848484;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    border-radius: 60px;
    transition: all 0.5s;
    font-size: 15px;
    padding: 10px;
    width: 100px;
    cursor: pointer;
    margin: 10px;
    color: black;
}

#Edit span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 11s;
}

#logOut:hover{
    color:red;
}

#Edit:hover {
    color:red;
}

#orderTable th {
    background-color: #9B491C;
    color: white;
}

#orderListTitle {
    color: #9B491C;
}

#orderTable{
    width: 100%;
    height: 500px;
}

#orderListOverFlow{
    overflow: auto;
    width: 100%;
    height: 550px;
}
#ListOverFlow{
    overflow: auto;
    width: 100%;
    height: 450px;
}

#btn {
    background: transparent;
    border: 1px solid #848484;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    border-radius: 60px;
    transition: all 0.5s;
    font-size: 15px;
    padding: 10px;
    width: 100px;
    cursor: pointer;
    margin: 2px;
    color: black;
}

#btn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 11s;
}

#btn:hover {
    color: red;
}

#createOrder input,#supplierStockId{
    width: 100%;
    text-align: center;
}

#listtable th{
    background-color: #9B491C;
    color: white;
}

#listtable{
    text-align: center;
}
#listtable tr{
    background-color: #fff8dc;
}
#newOrder {
    background: transparent;
    border: 1px solid #848484;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    border-radius: 60px;
    transition: all 0.5s;
    font-size: 15px;
    padding: 15px;
    width: 120px;
    cursor: pointer;
    margin: 5px;
    color: black;
    text-align: center;
}

#newOrder span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 11s;
}

#newOrder:hover {
    color: red;
}

#orderTable tr{
    background-color: #fff8dc;
}

#addStockBtn {
    background: transparent;
    border: 1px solid #848484;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    border-radius: 60px;
    transition: all 0.5s;
    font-size: 15px;
    padding: 15px;
    width: 120px;
    cursor: pointer;
    margin: 5px;
    color: black;
    text-align: center;
}

#addStockBtn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 11s;
}

#addStockBtn:hover {
    color: red;
}

#addStockBtn {
    background: transparent;
    border: 1px solid #848484;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    border-radius: 60px;
    transition: all 0.5s;
    font-size: 15px;
    padding: 15px;
    width: 120px;
    cursor: pointer;
    margin: 5px;
    color: black;
    text-align: center;
}

#addStockBtn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 11s;
}

#addStockBtn:hover {
    color: red;
}

#save {
    background: transparent;
    border: 1px solid #848484;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    border-radius: 60px;
    transition: all 0.5s;
    font-size: 15px;
    padding: 15px;
    width: 120px;
    cursor: pointer;
    margin: 5px;
    color: black;
    text-align: center;
}

#save span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 11s;
}

#save:hover {
    color: red;
}

#cancel {
    background: transparent;
    border: 1px solid #848484;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    border-radius: 60px;
    transition: all 0.5s;
    font-size: 15px;
    padding: 15px;
    width: 120px;
    cursor: pointer;
    margin: 5px;
    color: black;
    text-align: center;
}

#cancel span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 11s;
}

#cancel:hover {
    color: red;
}